<%= form_for @profile, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :descripcion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :type_id, :class => 'control-label' %>
    <div class="controls">
      <%= select("profile", "type_id", Type.all.collect {|l| [ l.nombre, l.id ] }, {:prompt => 'Seleccione un Tipo'}) %>
    </div>
  </div>

    <div class="control-group">
    <%= f.label :property_id, :class => 'control-label' %>
    <div class="controls">
      <%= select("profile", "property_id", Property.all.collect {|l| [ l.nombre, l.id ] }, {:prompt => 'Seleccione una Propiedad'}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Subir Perfil", :class => 'btn btn-primary' %>
  </div>
<% end %>
