<div class="page-header">
  <h1><%= @profile.nombre %></h1>
</div>
<div class= "well">
  <strong>Nombre :</strong>
  <%= @profile.nombre %></br>
  <strong>Descripcion :</strong>
  <%= @profile.descripcion %></br>
  <strong>Tipo de Inmueble</strong>
  <%= @profile.type.nombre%></br>
  <strong>Propiedad</strong>
  <%= @profile.property.nombre %></br>
</div>
