<ul class="nav nav-tabs">
  <li class="active"><%= link_to "Lista", profiles_path(:format => :js) , :remote => true , 'data-toggle' => 'tab' %></li>
  <li><%= link_to "Nuevo Perfil", {:controller => "profiles", :action => "new" , :format => :js}, :remote => true , 'data-toggle' => 'tab'%></li>
</ul>
 <div id="content" class="tab-pane active">
    <div class="page-header">
  <h1>Lista de Perfiles</h1>
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Tipo</th>
        <th>Propiedad</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.nombre %></td>
          <td><%= profile.descripcion %></td>
          <td><%= profile.type.nombre %></td>
          <td><%= profile.property.nombre %></td>
          <td>
            <%= link_to 'Mostrar', profile_path(profile), {:remote => true , 'data-toggle' =>  "modal", 'data-target' => "#modal-window", 'data-keyboard' => true , 'data-backdrop' => true , :class => "btn btn-mini btn-success"} %>
            <%= link_to 'Editar', edit_profile_path(profile) , {:remote => true , 'data-toggle' =>  "modal", 'data-target' => "#modal-window", 'data-keyboard' => true , 'data-backdrop' => true , :class => "btn btn-mini btn-primary"}  %>
            <%= link_to 'Eliminar', property_path(profile), :method => :delete,:confirm => '¿Estas Seguro?', :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
 