<%- model_class = @invoice.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:folio) %>:</strong></dt>
  <dd><%= @invoice.folio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:monto) %>:</strong></dt>
  <dd><%= @invoice.monto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha_vencimiento) %>:</strong></dt>
  <dd><%= @invoice.fecha_vencimiento %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rent_id) %>:</strong></dt>
  <dd><%= @invoice.rent_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              invoices_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_invoice_path(@invoice), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              invoice_path(@invoice),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
