<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :apellidos, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :apellidos, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :telefono, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefono, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :celular, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :celular, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sexo, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :sexo, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :encrypted_password, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :encrypted_password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :salt, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :salt, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
