<%= form_for @property, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :num_ext, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :num_ext, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :direccion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :direccion, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :google, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :google, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descripcion, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ofertada, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :ofertada, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :locality_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :locality_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                properties_path, :class => 'btn' %>
  </div>
<% end %>
