<div class= "well">
  <% @property.pictures.each do |image| %>
    <%= link_to image_tag(image.picture.url(:thumb)) , image.picture.url(:original) %>
  <% end %>
  <h2><%= @property.nombre %></h2>
  <dl class="dl-horizontal">
    <dt>Localidad:</dt>
    <dd><%= @property.locality.nombre %></dd>
    <dt>N° exterior:</dt>
    <dd><%= @property.num_ext %></dd>
    <dt>Dirección:</dt>
    <dd><%= @property.direccion %></dd>
    <dt>Google Maps:</dt>
    <dd><%= @property.google %></dd>
    <dt>Descripción:</dt>
    <dd><%= @property.descripcion %></dd>
    <dt>¿En oferta?</dt>
    <dd><%= @property.ofertada ? "Si" : "No" %></br></dd>
  </dl>
</div>