<%- model_class = LeaseStructure.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:structure_id) %></th>
      <th><%= model_class.human_attribute_name(:cantidad) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lease_structures.each do |lease_structure| %>
      <tr>
        <td><%= link_to lease_structure.id, lease_structure_path(lease_structure) %></td>
        <td><%= lease_structure.structure_id %></td>
        <td><%= lease_structure.cantidad %></td>
        <td><%=l lease_structure.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lease_structure_path(lease_structure), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lease_structure_path(lease_structure),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lease_structure_path,
            :class => 'btn btn-primary' %>
