<%= form_for @property_service, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :property_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :property_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :service_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :service_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :costo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :costo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descripcion, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                property_services_path, :class => 'btn' %>
  </div>
<% end %>
