<div class="well">
<ul class="nav nav-list">
  <li class="nav-header">
    Propiedad
  </li>
  	<li>
   	<%= link_to "Subir Propiedad", nueva_propiedad_path %>
  	<li> </li>
  	 <li class="divider"></li>
  <li class="nav-header">
    Facturacion
  </li>
    <li>
   	<%= link_to "Crear Factura", nueva_factura_path %>
  	</li>
    <li class="divider"></li>
  <li class="nav-header">

    Localidad
  </li>
  <li>
   	<%= link_to "Nueva Localidad", nueva_localidad_path %>
  	</li>
    <li class="divider"></li>
  	<li class="nav-header">
    Estructura
  </li>
  <li>
   	<%= link_to "Nueva Estructura", nueva_estructura_path %>
  	</li>
    <li class="divider"></li>
    <li class="nav-header">
    Documentos
  </li>
  <li>
    <%= link_to "Subir Documento", subir_documento_path %>
    </li>
    <li class="divider"></li>
    <li class="nav-header">
    Inmuebles
  </li>
  <li>
    <%= link_to "Nuevo Inmueble", nuevo_inmueble_path %>
    </li>
    <li class="divider"></li>
    <li class="nav-header">
    Fotos
  </li>
  <li>
    <%= link_to "Nueva Foto", nueva_foto_path %>
    </li>
<li class="divider"></li>
    <li class="nav-header">
    Servicios
  </li>
  <li>
    <%= link_to "Dar de Alta Servicio", nuevo_servicio_path %>
    </li>
  <li class="divider"></li>
    <li class="nav-header">
    Fotos
  </li>
  <li>
    <%= link_to "Rentar Inmueble", nueva_renta_path %>
    </li>
</ul>
</div>
